@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --font-roboto-serif: "Roboto Serif", serif;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  font-family: var(--font-roboto-serif), serif;
  background-color: #09090f;
  color: #ffffff;
}

button,
input,
textarea,
select {
  font: inherit;
}
